body {
  padding-top: 5rem;
  background-color: lightyellow;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1 {
  font-style: impact;
  font-size: 100px
}

p{
  font style: arial;
  
}
