body {
  padding-top: 5rem;
  background-color: lightblue;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  width: 200px
  height:200px w
}
<<<<<<< Updated upstream
=======

iframe {
  width: 50%;
  height: 50%;
}
 p{
   color: red;
 }
h5{
  color: darkred;
>>>>>>> Stashed changes
